body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#background {
  position:fixed;
  padding:0;
  margin:0;

  top:0;
  left:0;

  width: 100%;
  height: 100%;
  background-color: #fef6e4;
}

#banner-img{
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
  width: 20%;
}

#login-form-container {
  position: absolute;
  left: 700px;
  top: 525px;
  width: 37%;
}

#labels {
  background-color:  #ffc6c7;
  color: black;
}

#buttons {
  background-color: #8bd3dd;
  font-size: 20px;
  color: black;
}

.signup-image-container {
  /* display: flex; */
  /* justify-content: center; */
  position: absolute;
  top: 400px;
  left: 100px;
}

.signup-image {
  width: 350px;
  height: 300px;
  border-radius: 20%;
}

.login-image-container {
  /* display: flex; */
  /* justify-content: center; */
  position: absolute;
  top: 480px;
  left: 100px;
}

.login-image {
  width: 420px;
  height: 320px;
  border-radius: 50%;
}

#landing-nav-container {
  background-color: rgb(159, 133, 125)
}

.ui.button.active {
  background: #ffc6c7 !important;
}

#logout {
  background-color: white;
  color:black;
  font-size: 20px;
  height: 100%;
  background-color: #8bd3dd;
}

#nav-item-container {
  background-color: rgb(159, 133, 125);
}

#nav-container {
  width: 30%;
  height: 48vh;
  /* float: left; */
  position: absolute;
  bottom: 40%;
  /* flex: stretch; */
  /* height: 100%;  */
  /* position: fixed; */
  background-color: rgb(159, 133, 125);
}

#nav-dash-divider{
  position: absolute;
  top: 56%;
  width: 30%;
  height: 100vh;
  background-color: rgb(233, 209, 146);
  font-weight: bold;
}

#dashboard-container {
  width: 30%;
  height: 100vh;
  position: absolute;
  /* float: bottom; */
  top: 62.5%;
  background-color: rgb(159, 133, 125);
}

#dashboard-card{
  top: 5%;
  left: 5%;
  width: 90%;
  font-size: 19px;
}

#dashboard-content {
  font-size: 17px;
}

#calendar-container {
  height: 45%;
  width: 40%; 
  position: absolute;
  left: 60%;
  transform: translateX(-40%);
  background-color: white;
}

#signup-calendar-container {
  display: flex;
  justify-content: center;
  height: 50%;
}

#calendar-page-form-container {
  position: absolute;
  left: 60%;
  top: 60%;
  transform: translateX(-40%);
}

#edit-profile {
  position: absolute;
  left: 55%;
  transform: translateX(-40%);
  width: 100%;
}

#card-img-container {
  height: 250px;
}

#card-img {
  object-fit: contain;
  width: 500px;
  height: 250px;
}

#cards-container {
  position: absolute;
  left: 55%;
  transform: translateX(-40%);
  width: 100%;
}

#ourmission-null-text-container {
  font-size: 22px;
  position: absolute;
  left: 55%;
  top: 20%;
  transform: translateX(-35%);
  width: 100%;
}

#ourmission-null-image-one {
  position: absolute;
  left: 20%;
  top: 37%;
  transform: translateX(-40%);
  width: 25%;
}

#ourmission-loggedin-text-container {
  font-size: 22px;
  position: absolute;
  left: 62%;
  top: 20%;
  transform: translateX(-35%);
  width: 100%;
}

#ourmission-loggedin-image-one {
  position: absolute;
  left: 43%;
  top: 30%;
  transform: translateX(-40%);
  width: 20%;
}

#aboutus-null-text-container {
  font-size: 22px;
  position: absolute;
  left: 55%;
  top: 20%;
  transform: translateX(-35%);
  width: 100%;
}

#aboutus-null-image-one {
position: absolute;
left: 20%;
top: 80%;
transform: translateX(-40%);
width: 23%;
height: 33%;
}

#aboutus-null-image-two {
  position: absolute;
  left: 20%;
  top: 30%;
  transform: translateX(-40%);
  width: 23%;
}

#aboutus-buttons-container{
  text-align: center;
}

#aboutus-loggedin-text-container {
  font-size: 22px;
  position: absolute;
  left: 65%;
  top: 10%;
  transform: translateX(-35%);
  width: 100%;
}

#aboutus-loggedin-image-one {
  position: absolute;
  left: 45%;
  top: 50%;
  transform: translateX(-40%);
  width: 18%;
  height: 32%;
}
  
#aboutus-loggedin-image-two {
  position: absolute;
  left: 45%;
  top: 15%;
  transform: translateX(-40%);
  width: 16%;
}
